{% extends 'base.html' %}

{% block content %}

<h1>Update</h1>

<form class="user-edit-form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />

{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
(function() {
  const userEditForm = $('.user-edit-form [name=leagues]')

  function userEditUpdateSelected(el) {
    const selected = $(el).find('option:selected').text();
    const option = '.user-edit-form [name=favorite_teams] > option';
    $(option + '[data-league=' + selected + ']').show();
    $(option + ':not([data-league=' + selected + '])').hide();
  }

  userEditUpdateSelected(userEditForm);

  userEditForm.change(function() {
      userEditUpdateSelected(this);
  });
})();
</script>
{% endblock %}
