{% extends 'base.html' %}

{% block content %}

<h1>{{ user.username }}'s Profile</h1>

{% if user.is_authenticated and request.user.id is user.id %}
<ul>
  <b>Name: </b>{{ user.name }}</br>
  <b>Email: </b>{{ user.email }}</br>
  <b>User Location: </b>{{ user.user_location }}</br>
  <b>Member Since: </b>{{ user.member_since }}</br>
</ul>
{% else %}
<br>
<br>
{% endif %}

<h5>Favorite NBA Teams</h5>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 1 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h5>Favorite NFL Teams</h5>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 2 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h5>Favorite MLB Teams</h5>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 3 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h5>Favorite NHL Teams</h5>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 4 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

{% if user.is_authenticated and request.user.id is user.id %}
<a href="{% url 'user-edit' user_id=user.id %}">Edit Profile</a>
{% endif %}

{% endblock %}
