{% extends 'base.html' %}

{% block content %}

<h1>{{ user.username }}'s Profile</h1>

<ul>
  <b>Name: </b>{{ user.name }}</br>
  <b>Email: </b>{{ user.email }}</br>
  <b>User Location: </b>{{ user.user_location }}</br>
  <b>Member Since: </b>{{ user.member_since }}</br>
</ul>

<h3>Favorite NBA Teams</h3>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 1 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Favorite NFL Teams</h3>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 2 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Favorite MLB Teams</h3>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 3 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Favorite NHL Teams</h3>
<ul>
  {% for team in user.favorite_teams.all %}
  {% if team.team_sport_id == 4 %}
  <li>{{ team.team_location_name }} {{ team }}</li>
  {% endif %}
  {% endfor %}
</ul>


<a href="{% url 'user-edit' user_id=user.id %}">Edit</a>

{% endblock %}
