{% extends 'base.html' %}

{% block content %}

<h1>{{ event.fan_team }} vs. {{ event.opp_team }}</h1>

<p>{{ event.event_date }} at {{ event.event_time }}</p>

<p><b>{{ event.bar }}</b><br>{{ event.bar.street_address }}<br>{{ event.bar.city }}, {{ event.bar.state }} {{ event.bar.zip_code }}<br>
{{ event.bar.phone_num }}</p>

{% if user.is_authenticated and user.id is event.owner.pk%}
<a href="{% url 'event-edit' event_id=event.id %}">Edit</a>
{% endif %}
<br>
<a href="{% url 'events' %}">Back to Events</a>

{% endblock %}
